:root {
  --darkBleu: #0f3d7a;
  --lightBleu: #5184b7;
  --lightYellow: #ffe467;
  --darkYellow: #d49836;
  --defaultWhite: #f3f3f3;
  --defaultDark: #000;
  --darkOrange: #e46a29; 
  --darkerOrange: #f06f14;
  --transparentYellow: #ffe36855;
}
/* ---- Default styles ------*/
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--defaultWhite) !important;
  color: var(--defaultDark) !important;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
  color: var(--defaultDark);
  letter-spacing: 0px;
}
a {
  color: var(--defaultDark);
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0px;
  margin-bottom: 0px;
}
h2 {
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 0px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 0px;
}
h4 {
  font-size: 20px;
  line-height: 27px;
}
h5 {
  font-size: 16px;
  line-height: 24px;
}
h6 {
  font-size: 14px;
  line-height: 24px;
}
p {
  font-family: "Muli", sans-serif;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 25px;
  margin: 0;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ---- End Default styles ------*/

/* --- Preloder---- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.preloader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: var(--defaultWhite);
  z-index: 99;
}
.wrapper {
  padding: 40px 0;
  left: 0;
  height: 142px;
  width: 142px;
  margin: auto;
  overflow: visible;
  position: fixed;
  top: 0;
  z-index: 999;
}
div.spinner {
  -moz-animation: rotate 10s infinite linear;
  -webkit-animation: rotate 10s infinite linear;
  animation: rotate 10s infinite linear;
  position: fixed;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
}
div.spinner i {
  -moz-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
  -webkit-animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
  animation: rotate 3s infinite cubic-bezier(0.09, 0.6, 0.8, 0.03);
  -moz-transform-origin: 50% 100% 0;
  -webkit-transform-origin: 50% 100% 0;
  transform-origin: 50% 100% 0;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  border: solid 6px transparent;
  border-bottom: none;
}
div.spinner i:nth-child(1) {
  -moz-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  animation-timing-function: cubic-bezier(0.09, 0.3, 0.12, 0.03);
  width: 44px;
  height: 22px;
  margin-top: -22px;
  margin-left: -22px;
  border-color: var(--darkBleu);
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
}
div.spinner i:nth-child(2) {
  -moz-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  animation-timing-function: cubic-bezier(0.09, 0.6, 0.24, 0.03);
  width: 58px;
  height: 29px;
  margin-top: -29px;
  margin-left: -29px;
  border-color: var(--lightBleu);
  border-top-left-radius: 42px;
  border-top-right-radius: 42px;
}
div.spinner i:nth-child(3) {
  -moz-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
  animation-timing-function: cubic-bezier(0.09, 0.9, 0.36, 0.03);
  width: 72px;
  height: 36px;
  margin-top: -36px;
  margin-left: -36px;
  border-color: var(--darkYellow);
  border-top-left-radius: 48px;
  border-top-right-radius: 48px;
}
div.spinner i:nth-child(4) {
  -moz-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
  animation-timing-function: cubic-bezier(0.09, 1.2, 0.48, 0.03);
  width: 86px;
  height: 43px;
  margin-top: -43px;
  margin-left: -43px;
  border-color: var(--lightYellow);
  border-top-left-radius: 54px;
  border-top-right-radius: 54px;
}
div.spinner i:nth-child(5) {
  -moz-animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
  animation-timing-function: cubic-bezier(0.09, 1.5, 0.6, 0.03);
  width: 100px;
  height: 50px;
  margin-top: -50px;
  margin-left: -50px;
  border-color: var(--darkOrange);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}
div.spinner i:nth-child(6) {
  -moz-animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
  animation-timing-function: cubic-bezier(0.09, 1.8, 0.72, 0.03);
  width: 114px;
  height: 57px;
  margin-top: -57px;
  margin-left: -57px;
  border-color: var(--darkYellow);
  border-top-left-radius: 66px;
  border-top-right-radius: 66px;
}
div.spinner i:nth-child(7) {
  -moz-animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
  -webkit-animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
  animation-timing-function: cubic-bezier(0.09, 2.1, 0.84, 0.03);
  width: 128px;
  height: 64px;
  margin-top: -64px;
  margin-left: -64px;
  border-color: var(--darkOrange);
  border-top-left-radius: 72px;
  border-top-right-radius: 72px;
}
@-moz-keyframes rotate {
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*--- End Preloder--- */

/**--- Hamburger menu Menu ---*/

button.navbar-toggler.nav-icon span.navbar-toggler-icon {
  opacity: 0;
}
button.navbar-toggler.nav-icon {
  position: relative;
  transition: 0.5s ease;
}
button.navbar-toggler.nav-icon::before {
  position: absolute;
  z-index: 999;
  color: var(--defaultDark);
  font-size: 30px;
  left: 17px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00d";
}
.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
  background: var(--lightYellow);
}
.navbar-light .navbar-toggler {
  border: none;
}
button:focus {
  outline: inherit;
}
/**--- End Hamburger menu Menu ---*/

/* --- Heder-area ---*/
.paint-nav .navbar-brand img {
  height: 110px;
}
.paint-nav .navbar-light .navbar-nav li.nav-item {
  padding: 12px 0px 5px;
  height: 50px;
  cursor: pointer;
  position: relative;
  margin-top: 18px;
  min-width: 102px;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}
.paint-nav .navbar-light .navbar-nav .nav-link {
  padding: 10px 12px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  color: rgb(5, 5, 5);
}
.paint-nav .navbar-light {
  position: relative;
  background-color: var(--defaultDark) !important;
}
.paint-nav .navbar-light .navbar-nav li.nav-item.dropdown > a:after {
  position: absolute;
  content: "\f0d7";
  right: 0px;
  top: 10px;
  display: none;
}
.paint-nav .navbar-light .navbar-nav li.nav-item ul li.dropdown-item {
  position: relative;
}
.paint-nav
  .navbar-light
  .navbar-nav
  li.nav-item
  ul
  li.dropdown-item.dd-caret:after {
  position: absolute;
  content: "\f0da";
  right: 8px;
  top: 5px;
  display: none;
}
.paint-nav .navbar-light .navbar-nav .last-child {
  min-width: 180px;
  padding-left: 40px;
}
.paint-nav .navbar-light .navbar-nav .nav-link:hover {
  color: var(--defaultDark);
  text-decoration: underline;
  transition: 0.5s ease;
  font-weight: 600;
}

.paint-nav .bg-light {
  background-color: transparent !important;
}

header.header-area.nav-fixed {
  position: fixed;
  z-index: 99;
  top: 0;
  animation-duration: 0.8s;
  animation-name: fadeInDown;
  animation-timing-function: ease-in-out;
  box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.75);
  background-image: none;
}

header.header-area {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  background: var(--defaultDark);
}

.logo {
  margin: -8px;
}
.navbar-nav.hp-1-nav {
  background-image: url(/images/nav-backg.png);
  left: 220px;
  width: 80%;
  height: 100px;
  top: 17px;
  padding-left: 61px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 7%;
  position: absolute;
}
.modal-content.e-m-contents {
    margin: 0px auto;
    margin-top: -13%;
    max-width: 510px;
}
/* --- End Header-area ---*/

/* --- House List before and after --- */
.completed-project{
  text-align: center;
  overflow: hidden;
  margin-top: 10%;
  margin-bottom: 10%;
}
.recent-top{
  padding: 50px 0px;
}

.prj-6-content a {
  font-family: 'Muli', sans-serif;
  text-decoration: underline;
  font-weight: 600;
}
.recent-project {
  padding-bottom: 2rem;
}
.bottom-img {
  margin-bottom: -4rem;
}
.recent-top h3{
  padding: 12px 0px;
  font-size: 28px;
}
.recent-top p:first-child {
  
}
.recent-top p {
  width: 50%;
  margin: 0px auto;    
  font-size: 17px;
  color: var(--darkBleu);
  font-weight: bold;
}
.project-1 {
  position: relative;
  overflow: hidden;    
  margin: 15px auto;
  padding-right: 3px;
  width: 100%;
  height: 80%;
  object-fit: contain;  
}
.before {
  position: absolute;
  top: 8px;
  right: 16px;
}
.after {
  position: absolute;
  top: 8px;
  left: 16px;
}
img { 
  width:100%; 
  height:100%; 
}

.project-1:hover .prj-1-content {
    opacity: 1;
    left: 20px;
}
.prj-1-content{
    background: var(--transparentYellow);
    text-align: center;
    z-index: 1;
    padding: 30px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: -100%;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    opacity: 0;
    transition: .5s ease;
}
.project-1:hover .prj-four {
    opacity: 1;
    left: 0px;
}

.project-1:hover .prj-four {
    opacity: 1;
    left: 0px;
}
.project-1:hover .prj-five {
    opacity: 1;
    left: 0px;
}
.prj-two p{
    font-weight: bold;
    font-size: 22px !important;
    line-height: 22px;
    padding-bottom: 17px;
}
.prj-1-content p{
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    padding-bottom: 17px;
}
.prj-1-content h4 {
    font-weight: bold;
    padding-top: 58%;
    font-size: 30px;
    line-height: 38px;
    padding-bottom: 10px;
}
.prj-two h4 {
    font-weight: bold;
    padding-top: 3%;
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 10px;
}

.prj-1-content a{
    font-family: 'Muli', sans-serif;
    text-decoration: underline;
    font-weight: 600;
}
.ficon-pj-1:before {
    font-size: 485px;
    position: absolute;
    z-index: -1;
    opacity: .1;
    top: -11px;
    left: -131px;
    display: inline-block;
    transform: rotate(41deg);
}
.ficon-pj-2::before{
    font-size: 646px;
    position: absolute;
    z-index: -1;
    opacity: .1;
    top: -98px;
    left: -131px;
    display: inline-block;
    transform: rotate(41deg);
}
.p-icon {
    position: absolute;
}
/* ---End House List before and after --- */

/* --- Project-ask --- */
.project-1 img {
    width: 100%;
}
.project-ask{
    background:url(/images/proj-ask.png);
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pro-ask-content h1{
    font-weight: 600;
}
.pro-ask-content{
    padding: 100px 0px;
}
.pro-ask-content p {
    width: 66%;
    padding-top: 10px;
    margin: 0px auto;
}
/* .card.estimate-card.e-card-2 {
    margin-top: -100px;
} */
.card.estimate-card.es-card-2 {
    margin-top: -37px;
    margin: 0px auto;
    position: relative;
    z-index: 1;
    max-width: 505px;
}

.btn-contact{
    -webkit-mask: url(/images/brush-painting-stain.svg) no-repeat;
    background-color: var(--lightYellow);
    width: 200px;
    margin: 0px auto;
    transition: .5s ease;
    padding: 50px 0px;
    position: relative;
}
.btn-contact:hover a {
    color: var(--defaultDark);
}
.btn-contact::after {
    content: '';
    height: 100%;
    padding: 50px 0px;
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    background-color: var(--darkerOrange);
    transition: .9s ease;
}
.btn-contact:hover:after{
    width: 100%;
}
.con-btn {
    position: absolute;
    line-height: 90px;
    font-size: 18px;
    left: 0;
    right: 20px;
    top: 0;
    z-index: 1;
    font-weight: 600;
}
/* --- End Project-ask ----*/

/* 2.6 Client Feedback*/
.client-feedback{
    background-image: url(/images/client-bg.png);
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    width: 100%;
}
.client-image img{
    height: 772px;
    width: 100%;
    padding-top: 50px;
    overflow: hidden;
    
}
.client-content {
    padding: 148px 0px;
}
.client-content h3 {
    font-weight: bold;
    padding: 10px 0px;
    text-align: left;
}
.client-content p {
    text-align: left;
    width: 100%;
}
.client-content p:first-child {
    
}
.client-content p:last-child {
    font-family: 'Muli', sans-serif;
}
#quote-carousel {
    margin-top: 50px;
    text-align: left;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 15px;
}
#quote-carousel .carousel-indicators li {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid var(--defaultWhite);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 1;
    position: relative;
    overflow: hidden;
    margin-left: -8px;
    transition: all .4s ease-in;
    vertical-align:middle;
    display: inline-block;
}
#quote-carousel .carousel-indicators .active {
    width: 55px;
    height: 55px;
    opacity: 1;
    position: relative;
    z-index: 1;
    transition: all .2s;
}
.testimo-indicat{
    justify-content: left;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 0%;
    list-style: none;
}
.btn-prev{
    font-size: 24px !important;
    border: 1px solid;
    padding: 0px 8px;
    color: var(--defaultDark) !important;
}
.btn-next{
    font-size: 24px !important;
    border: 1px solid;
    margin-left: 13px;
    padding: 0px 8px;
    color: var(--defaultDark) !important;
}
.testimo-slide p{
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 22px;
    line-height: 34px;
    width: 75%;
}
#quote-carousel .carousel-indicators li img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.carousel-inner {
  margin-bottom: 1rem;
  position: absolute;
}

/* --- End Client Feedback --- */

/* --- we paint color --- */
.colo-content {
    padding-top: 30px;
}
.colo-content p:first-child {
    padding-bottom: 15px;
    
}
.colo-content p {
    width: 80%;
    padding-bottom: 15px;
    font-size: 18px;
}
.colo-content h2 {
    width: 80%;
    font-weight: bold;
    padding-bottom: 15px;
}
.color-image img {
    max-width: 105%;
}
section.wepaint-thecolor {
    overflow: hidden;
}
.btn-learn{
    -webkit-mask: url(/images/rush-painting-stain.svg) no-repeat;
    background-color: var(--lightYellow);
    width: 200px;
    transition: .5s ease;
    padding: 50px 0px;
    overflow: hidden;
    left: -17px;
    position: relative;
   
}
.btn-learn::after {
    position: absolute;
    content: '';
    height: 100%;
    padding: 50px 0px;
    width: 0;
    top: 0;
    left: 0;
    background-size: cover;
    background-color: var(--darkerOrange);
    transition: .9s ease;
}
.btn-learn:hover::after{
    width: 100%;
}
.btn-learn:hover a{
    color: var(--defaultDark);
}
.learn-ab {
    position: absolute;
    line-height: 90px;
    font-size: 18px;
    left: 47px;
    right: 0;
    top: 0;
    z-index: 1;
    font-weight: 600;
}
/* --- end we paint color --- */

/* 7.2 Our-Experience */
.our-experience{
    padding: 100px 0px;
    background-image: url(/images/our-eperience.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
}
.o-e-content p:first-child {
    padding-bottom: 1px;
    font-size: 18px;
}
.o-e-content h1 {
    width: 80%;
    font-weight: bold;
    padding-bottom: 10px;
}
.o-e-content p {
    width: 80%;
    font-size: 16px;
}
.expart-icon{
    height: 70px;
    width: 20%;
    float: left;
    font-size: 40px;
    padding-left: 1rem;
    color: var(--darkOrange);
    background-color: var(--lightYellow);
}
.expart {
    padding-top: 10px;
    margin: 15px auto;
}
.expart-content {
    padding-left: 20px;
    width: 80%;
    display: inline-block;
}
.expart-content p {
    line-height: 17px;
}
.expart-content h4 {
    padding: 15px 0px;
}
.ex-1::before {
    font-size: 40px;
    position: absolute;
    overflow: hidden;
    left: 10px;
    top: 40px;
    display: inline;
    color: var(--defaultDark);
}

/* End Our-Experience */

/* --- Our Team ---*/
section.our-team {
    padding: 0px 0px 100px;
    overflow: hidden;
}
.ot-2 {
    padding: 50px 0px 0px !important;
}
.st-member {
    margin: 15px auto;
    position: relative;
    top: 30px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 51px;
    border-bottom-right-radius: 33%;
    border-top-left-radius: 33%;
}
.st-member img {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 33%;
    border-top-left-radius: 33%;
}
.st-member:hover::before{
    height: 100%;
    top: 0;
}
.st-member:hover .st-s-icon{
    opacity: 1;
}
.st-member::before{
    position: absolute;
    content: '';
    width:100%;
    height: 0%;
    transition: .5s ease;
    z-index: 1;
    left:0;
    top: 50%;
    right: 0;
    border-bottom-right-radius: 33%;
    border-top-left-radius: 33%;
    background: rgba(0, 0, 0, 0.4);
}
.st-member p {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
}
.st-s-icon ul li {
    display: inline-block;
    list-style: none;
}
.st-s-icon {
    position: absolute;
    top: 43%;
    z-index: 1;
    opacity: 0;
    transition: .5s ease-in;
    transition: .2s ease-out;
    left: 14%;
}
.os-content h2 {
    font-size: 30px;
    text-align: center;
    padding: 10px 0px;
}
.os-content p:first-child {
    text-align: center;
}
.os-content p{
    width: 56%;
    text-align: center;
    padding: 10px 0px;
    font-size: 19px;
    margin: 0 auto;
}
.fullname {
  font-weight: bold;
}
/* --- End Our team--- */


/* --- Painting form --- */
.modal-dialog {
    padding-top: 10%;
    max-width: 750px;
}
.modal-body {
    position: relative;
    padding: 0px!important;
}
.modal-content{
    background: transparent!important;
    border: none;
}
.es-close {
    position: absolute;
    right: 6px;
    top: -5px;
    color: var(--defaultWhite)!important;
    opacity: 1;
    z-index: 999;
    font-size: 40px!important;
    font-weight: 600;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover{
    color: var(--darkOrange)!important;
    opacity: 1;
}

.card.estimate-card {
    margin-top: 35%;
    color: var(--defaultWhite);
    padding: 15px;
    margin-bottom: 58px;
    font-size: 12px;
    z-index: 1;
    overflow: hidden;
    position: relative;
    background-color: #1d252dd5;
}
.estimate-card h2{
    padding: 20px 0px 5px;
    color: var(--defaultWhite);
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}
.esc-paint::before{
    position: absolute;
    font-size: 700px;
    color: #252e36;
    top: -16%;
    left: -10%;
    z-index: -1;
}
span.e-ctl {
    font-size: 14px;
}
.estimate-card input.form-control {
    border-radius: inherit;
    background: #1d252d36;
    color: var(--darkOrange);
}
.estimate-card input.form-control:focus{
    outline-style:none;
    box-shadow:none;
    color: var(--defaultWhite);
    border-color: var(--darkYellow);
}
.estimate-card input.form-control::placeholder{
    color: #737a80 !important;
}
.estimate-card label input[type=radio]{
    transform:scale(1.5);
    margin-left: 20px;
}
.estimate-card label:first-child input[type=radio] {
    margin-left: 0px;
}

button.btn-block.ebtn {
    padding: 15px 0px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    background-color: var(--lightYellow);
    cursor: pointer;
}
button.btn-block.upload {
    padding: 15px 0px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    background-color: var(--darkOrange);
    cursor: pointer;
}

button.btn-block.ebtn-r {
    padding: 15px 0px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    background-color: var(--darkOrange);
    cursor: pointer;
}
.estimate-card label{
    transform:scale(1.5);
    margin-left: 20px;
}
.estimate-card label:first-child  {
    margin-left: 12px;
}
/* --- end Painting form --- */

/* --- footer-nav --- */
.subscribe-top {
  position: relative;
  width: 100%;
}
.sp-subscription-form {
  position: relative;
  max-width: 600px;
  padding: 35px 15px 45px;
  margin: 0 auto;
}
.subscribe-top:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-image: url(/images/nav-backg.png);
  background-size: 100% 100%;
  top: 0;
  left: 100px;
}
.sp-subscription-form .sp-input h4 {
  position: absolute;
  left: 0;
  top: 5px;
   margin-left: -11rem;
   font-weight: bold;
}
.sp-subscription-form .sp-input {
  position: relative;
  top: 9px;
  width: 100%;
}
.sp-subscription-form .sp-input {
  max-width: 365px;
  margin-right: 0;
  margin-left: auto;
  position: relative;
}
.sp-logo {
  position: absolute;
  top: 1px;
  left: -61px;
}
.sp-logo img {
  width: 77%;
}
section.footer-nav {
  color: var(--defaultWhite);
  overflow: hidden;
  padding: 100px 0px 80px 0px;
  background-color: var(--defaultDark);
}
span#basic-addon2 {
  background-color: var(--darkOrange);
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: none;
  color: var(--defaultDark);
}
.footer-content {
  padding-top: 110px;
}
ul.single-footer-widget {
  list-style: none;
  padding: 0px;
}
ul.single-footer-widget li {
  line-height: 35px;
}
.sicon {
  height: 40px;
  width: 40px;
  background-color: var(--defaultDark);
  color: var(--defaultWhite);
  margin-top: 10px;
  transition: 0.3s ease;
  margin-right: 5px;
  font-size: 20px;
  padding: 10px 12px;
  border-radius: 50%;
}
ul.sicon-frist {
  padding: 0px;
}
ul.sicon-frist li {
  list-style: none;
  margin: 5px;
  display: inline-block;
}
ul.sicon-frist li:first-child {
  margin: 0px;
}
.sicon:hover {
  background: var(--darkOrange);
  color: var(--lightYellow);
}
.about-company a {
  color: var(--defaultWhite);
  font-family: "Muli", sans-serif;
}
.about-company p {
  padding-bottom: 25px;
  color: var(--defaultWhite);
}
.about-company h4 {
  padding-bottom: 20px;
  color: var(--lightBleu);
  font-weight: 500;
}

.bottom-footer {
  text-align: center;
  background-color: var(--darkOrange);

  line-height: 2rem;
  margin-bottom: 0;
}
.bottom-footer-text {
  color: var(--defaultDark) !important;
}
input.form-control {
    border-radius: 5px;
    background: var(--darkYellow);
    border: 1px solid var(--darkOrange);
}
/* End footer-nav */

